html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-wrapper {
  padding: 50px;
  background-color: rgb(237, 237, 237)
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  z-index: 100;
}

.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card-item {
  flex: 1 1 calc(20% - 1rem);
  min-width: 200px;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}